<html>
<head>
    {{>header}}
    <link rel="stylesheet" href="/styles.css">

</head>
<body>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">Harmony Hall</a></div>
            <ul class="nav-items">
                {{^user}}
                <li> <a href="/">Home</a> </li>
                <li> <a href="/about">About Us</a> </li>
                <li> <a href="/availability">Availability</a> </li>
                <li><a id="login" href="/login">Log In</a></li>
         
                {{/user}}
                {{#user}}
                <li> <a href="/">Home</a> </li>
                <li> <a href="/about">About Us</a> </li>
                <li> <a href="/new">Add Event</a> </li>
                <li><a href="/delete">Delete Event</a></li>
                <li><a href="/edit">Edit Event</a></li>
                <li><a href="/availability">Availability</a></li>
                <li><a id="logout" href="/logout">Log Out</a></li>       
                <li><a id="register" href="/register">Register</a></li>
                
                {{/user}}
            </ul>
        </div>
    </nav>


    <div class="about-container">
        <div class="about-section">
            <h2 class="about-section-heading"> <strong>Welcome to Harmony Hall</strong></h2>
            <p class="about-section-sub"> Your Community Hub for Events and Gatherings!</p>
        </div> 

        
        
<div class="home-container">
    <div class="home-section">
        <h2 class="about-section-title"><strong>Classes to Enrich Your Journey</strong></h2>
        <p>Dive into a diverse array of classes that cater to your interests and passions. From creative workshops to wellness sessions, our lineup of classes is designed to inspire and educate. Explore a range of topics led by talented instructors who are passionate about sharing their knowledge. With options for every age group, you're sure to find something that resonates with you. Check out our upcoming classes and start your enriching journey today!</p>
    </div>

    <div class="home-section">
        <h2 class="about-section-title"><strong>Engaging Community Events</strong></h2>
        <p>Connect with your community through our vibrant events that bring people together. Whether it's a cultural celebration, a charity fundraiser, or a local gathering, Harmony Hall is the place where memories are made. Our community-driven events foster connections, create memorable experiences, and contribute to the unique fabric of our neighborhood. Stay tuned for the latest community event updates and be part of the excitement!</p>
    </div>

    <div class="home-section">
        <h2 class="about-section-title"><strong>Booking <br> Availability</strong></h2>
        <p>Looking for the perfect venue to host your event? Harmony Hall offers booking options for your special occasions. Check our availability calendar to find the ideal slot for your gathering. We provide a flexible and accommodating space, whether it's a small group meeting, a party, or a larger event. Create unforgettable moments in our welcoming and well-equipped environment.</p>
    </div>
</div> 

      <div class="columns-container">
        <div class="column">
            <h1> <strong> Classes </strong> </h1>
            {{#classEntries}}
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{eventTitle}}</h4>
                    <p class="card-text">
                        <strong> Price: </strong> {{eventPrice}} | <strong> Date: </strong> {{eventDate}} | <strong> For More Info, Contact: </strong> {{contactNumber}} 
                    </p>
            </div>
            <div class="card-footer">
                Published by <a href="/posts/{{author}}">{{author}}</a>, on {{published}}
            </div>
            </div>

            {{/classEntries}}
            {{^classEntries}}
            No class entries yet.
            {{/classEntries}}
        </div>

        <div class="column">
    <h1> <strong> Community Events </strong> </h1>
    {{#communityEntries}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{eventTitle}}</h4>
            <p class="card-text">
                <strong> Price: </strong> {{eventPrice}} | <strong> Date: </strong> {{eventDate}} | <strong> For More Info, Contact: </strong> {{contactNumber}} 
            </p>
        </div>
        <div class="card-footer">
            Published by <a href="/posts/{{author}}">{{author}}</a>, on {{published}}
        </div>
    </div>
    {{/communityEntries}}
    {{^communityEntries}}
    No community entries yet.
    {{/communityEntries}}
</div>


</body>
</html>
