<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Write a new entry</h2>
<div class="text-right" style="margin-bottom: 1em;">
{{^user}}
  <a id="login" href="/register" class="btn btn-primary">
    Sign Up
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Log In
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Log Out
  </a>
{{/user}}
</div>


<form method="post" role="form">

<div class="form-group">
<label for="author">Author</label>
<input type="text" class="form-control" id="author"
name="author" placeholder="Written by {{user.user}}" value={{user.user}}>
</div>

<div class="form-group">
<label for="eventTitle">Event Title</label>
<input type="text" class="form-control" id="eventTitle"
name="eventTitle" placeholder="Enter Title"
required>
</div>

<div class="form-group">
<label for="eventPrice">Event Pricing</label>
<input type="text" class="form-control" id="eventPrice"
name="eventPrice" placeholder="Enter Prices"
required>
</div>

<div class="form-group">
  <label for="eventPrice">Event Date</label>
  <input type="string" class="form-control" id="eventDate" name="eventDate" 
         pattern="\d{4}-\d{2}-\d{2}" title="Please enter a date in the format YYYY-MM-DD" 
         min="1900-01-01" max="2099-12-31" placeholder="YYYY-MM-DD" required>
</div>

<div class="form-group">
<label for="contactNumber">Contact Number</label>
<input type="text" class="form-control" id="contactNumber"
name="contactNumber" placeholder="Enter Contact Number for this Event"
required>
</div>



</div>
<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary">
</div>
</form>





</body
</html>